.form {
  margin-bottom: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.table th, 
.table td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.addSVG{
  width: 20px;
}

.termInput, .defInput {
  width: 90%;
  height: 100%;
  padding: 4px;
  border: 0;
  border-radius: 6px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(51, 51, 51);
  color: white;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}