.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px; /* 테이블의 최대 너비 설정 */
  margin: 0 auto;
  table-layout: fixed; /* 고정 레이아웃으로 열 너비 유지 */
}

.table th,
.table td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  vertical-align: middle;
  word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
}

.deleteSVG, .editSVG, .saveSVG, .cancelSVG{
  width: 20px;
  height: 20px;
}

.termCol {
  width: 45%; /* 단어 열 너비 */
  text-align: left;
}

.definitionCol {
  width: 35%; /* 의미 열 너비 */
  text-align: left;
}

.actionCol {
  width: 10%; /* 수정 및 삭제 열 너비 */
  text-align: center; /* 버튼을 중앙 정렬 */
}

.input {
  width: 90%;
  height: 100%;
  padding: 4px;
  border: 0;
  border-radius: 6px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(51, 51, 51);
}

.button {
  border: none;
}
.deleteButton{
  border: none;
  background-color: rgb(255, 90, 90);
}
.deleteButton:hover{
  background-color: rgb(255, 50, 50);
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .termCol {
    width: 40%;
  }

  .definitionCol {
    width: 40%;
  }

  .actionCol {
    width: 20%;
  }

  .saveSVG,
  .editSVG,
  .cancelSVG,
  .deleteSVG {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {
  .termCol {
    width: 35%;
  }

  .definitionCol {
    width: 45%;
  }

  .actionCol {
    width: 10%;
  }

  .saveSVG,
  .editSVG,
  .cancelSVG,
  .deleteSVG {
    width: 14px;
    height: 14px;
  }
}