/* .logoutButton {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #dc3545;
    background-color: white;
    color: #dc3545;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .logoutButton:hover {
    background-color: #dc3545;
    color: white;
  } */
.logoutButton{
    font-size: 14px;
    background-color: rgb(255, 100, 100);
}
.logoutButton:hover{
    background-color: rgb(225, 70, 70);
}