.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.quizArea{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.showDefButton, .nextButton, .swipeButton{
    width: 88px;
}
.swipeButton{
    margin-left: 10px;
}

.deleteButton{
    border: none;
    margin-top: 15px;
}
.deleteSVG{
    width: 20px;
    height: 20px;
}